<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRec Portal</title>
</head>
<body>
<div style="left: auto;right: auto">
    <h2>Video Recommend Portal</h2>
</div>

<form id="info_input">
    <textarea name="uid" style="width: 300px">240b13a4427c7b45a12a6432b35086788d77d588</textarea>
    <br/>
    <button type="submit">Recommend</button>
</form>
<div id="userprofile_area" hidden>
    userprofile area
</div>
<div id="recommond_area" hidden>
    recommond result area
</div>
</body>
</html>