
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VRec Portal</title>
</head>
<body style="margin-left: 20px">
<div style="left: auto;right: auto">
    <h2>Video Recommend Portal</h2>
</div>

<form id="info_input">
    <textarea name="uid" style="width: 300px"></textarea>
    <br/>
    <button type="submit">Recommend</button>
</form>
<div id="userprofile_area" style="float: none">
    <span style="right:auto;left: auto"><h3><b>User Profile</b></h3></span>
    <div id="pref_area" style="float: left">
        <div id="keypref_area" style="float: left">

            <h4><b>Keyword preference</b></h4>

            (&#39;game throne&#39;, 11.048247902925324)<br/>

            (&#39;donald trump&#39;, 6.786611921085865)<br/>

            (&#39;press credenti&#39;, 5.395615617049091)<br/>

            (&#39;cnn&#39;, 4.316492493639272)<br/>

            (&#39;trump&#39;, 4.299013780221825)<br/>

            (&#39;lyanna&#39;, 4.230162643766486)<br/>

            (&#39;saada&#39;, 4.185209952)<br/>

            (&#39;lawless&#39;, 3.8060596692201125)<br/>

            (&#39;revok&#39;, 3.776930931934364)<br/>

            (&#39;dalla polic&#39;, 3.766625966466918)<br/>

            (&#39;mormont&#39;, 3.7013923132956768)<br/>

            (&#39;meltdown&#39;, 3.237369370229455)<br/>

            (&#39;ticket&#39;, 3.172621982824866)<br/>

            (&#39;caap&#39;, 3.0448477353760923)<br/>

            (&#39;pastor&#39;, 2.6642417684540796)<br/>

            (&#39;cast vote&#39;, 2.6438516523540545)<br/>

            (&#39;ambush&#39;, 2.625403953056717)<br/>

            (&#39;obama&#39;, 2.5765291470696954)<br/>

            (&#39;jojo&#39;, 2.2857081059211257)<br/>

            (&#39;foster&#39;, 2.2836358015320686)<br/>
        </div>

        <div id="catepref_area" style="float: left;margin-left: 30px">
            <h4><b>Category preference</b></h4>

            (&#39;others&#39;, 11.858027952743228)<br/>

            (&#39;News_Entertainment&#39;, 9.531024232138302)<br/>

            (&#39;News_Politics&#39;, 7.1615311638377825)<br/>

            (&#39;Crime&#39;, 6.898845856937369)<br/>

            (&#39;News_Sports&#39;, 6.220364784565266)<br/>

            (&#39;Travel&#39;, 2.3759109378368133)<br/>

            (&#39;News_LGBT&#39;, 1.9030298346100563)<br/>

            (&#39;Funny&#39;, 1.6249872653646493)<br/>

            (&#39;Technology&#39;, 0.7646488639427361)<br/>

            (&#39;Gaming&#39;, 0.6911820103673328)<br/>

            (&#39;Health&#39;, 0.6638112027567864)<br/>

            (&#39;Finance&#39;, 0.5104856771616472)<br/>

            (&#39;Beauty&#39;, 0.42561629093301734)<br/>

            (&#39;Too_Short&#39;, 0.3620986021342224)<br/>

            (&#39;Military&#39;, 0.34080430753991303)<br/>

            (&#39;Food&#39;, 0.16488587383890702)<br/>
        </div>
    </div>
</div>
<div style="clear: both;"></div>
<div id="recommond_area" style="float: none;margin-left: auto;margin-right: auto">
    <span style="right:auto;left: auto"><h3><b>Recommend Result:3</b></h3></span>

        <!--<a href="https://www.youtube.com/watch?v=DTb-V6J5LdA">https://www.youtube.com/watch?v=DTb-V6J5LdA</a><br/>-->
    <iframe width="420" height="345" src="https://www.youtube.com/embed/DTb-V6J5LdA">
    </iframe>
    <br/>
    <a href="https://www.youtube.com/watch?v=DTb-V6J5LdA">https://www.youtube.com/watch?v=DTb-V6J5LdA</a><br/>
    <span style="margin-left: 1px">DocScore: 25.0</span>
    <span style="margin-left: 10px">HitScore: 1.12257211327</span>
    <span style="margin-left: 10px">RecallBy: 4</span>
    <span style="margin-left: 10px">RecallWeight: 1.0</span>
    <br/>

        <!--<a href="https://www.youtube.com/watch?v=hSOAGRElWoQ">https://www.youtube.com/watch?v=hSOAGRElWoQ</a><br/>-->
    <iframe width="420" height="345" src="https://www.youtube.com/embed/hSOAGRElWoQ">
    </iframe>
    <br/>
    <a href="https://www.youtube.com/watch?v=hSOAGRElWoQ">https://www.youtube.com/watch?v=hSOAGRElWoQ</a><br/>
    <span style="margin-left: 1px">DocScore: 44.0</span>
    <span style="margin-left: 10px">HitScore: 1.19317545178</span>
    <span style="margin-left: 10px">RecallBy: 4</span>
    <span style="margin-left: 10px">RecallWeight: 1.0</span>
    <br/>

        <!--<a href="https://www.youtube.com/watch?v=LAc6bl8XjfY">https://www.youtube.com/watch?v=LAc6bl8XjfY</a><br/>-->
    <iframe width="420" height="345" src="https://www.youtube.com/embed/LAc6bl8XjfY">
    </iframe>
    <br/>
    <a href="https://www.youtube.com/watch?v=LAc6bl8XjfY">https://www.youtube.com/watch?v=LAc6bl8XjfY</a><br/>
    <span style="margin-left: 1px">DocScore: 106.0</span>
    <span style="margin-left: 10px">HitScore: 1.19317545178</span>
    <span style="margin-left: 10px">RecallBy: 4</span>
    <span style="margin-left: 10px">RecallWeight: 1.0</span>
    <br/>

</div>
</body>
</html>